recursive-include src/mccssubarrayleafnode *.py
recursive-include test *.py
recursive-include pogo MCCSSubarrayLeafNode.xmi
include *.rst
include *.txt
graft docs
global-exclude *.pyc
global-exclude *.pyo
