recursive-include src/ska_tmc_sdpsubarrayleafnode_mid *.py
recursive-include test *.py
recursive-include pogo SdpSubarrayLeafNode.xmi
include *.rst
include *.txt
graft docs
global-exclude *.pyc
global-exclude *.pyo
