recursive-include src/mccsmasterleafnode *.py
recursive-include test *.py
include *.rst
recursive-include pogo MccsMasterLeafNode.xmi
include *.txt
graft docs

global-exclude *.pyc
global-exclude *.pyo
