recursive-include src/mccsmasterleafnode *.py
recursive-include test *.py
include *.rst
recursive-include pogo MCCSMasterLeafNode.xmi
include *.txt
graft docs
global-exclude *.pyc
global-exclude *.pyo
