recursive-include src/ska_tmc_centralnode_low *.py
recursive-include test *.py
recursive-include pogo CentralNodeLow.xmi
include *.rst
include *.txt
graft docs
global-exclude *.pyc
global-exclude *.pyo
