# This file should only contain requirements used for building the docs.
# If the build complains that it can't find a package that is used by
# the code, add it instead to autodoc_mock_imports in
# docs/source/conf.py.
docutils < 0.17
Sphinx == 4.1.2
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-plantuml
typing_extensions
